.wrapper{
    margin: 4em 6em;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw;
    /* gap: 1em; */
    margin-bottom: 2em;
    font-weight: 500;
}

.input > label{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
/* style={{display: 'flex', alignItems: 'center', gap: '0.5em', justifyContent: 'center', border: '1px solid blue'} */

.inputField{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 8px;
    width: fit-content;
    padding: 0.5em;
    color: blue;
    
}
.inputImage{
    display: grid;
    place-items: center;
    width: 1.5em;
    height: 1.5em;
}


