.wrapper{
    /* padding: 0 4em; */
    gap: 4vw;
    position: relative;

}
.infoSection{
    width: 52%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -35em;
    padding: 4em 8em;
}
.imageSection{
    width: 40%;
    height: 85vh;
    background-color: #dff8e5;
    padding: 2em;
    display: grid;
    place-items: center;
    border-radius: 2em;
    position: sticky;
    top: 8vh;
    right: 0;
    /* margin-top: 8vh; */
    margin-left: 52vw;
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    padding: 2em 0;
    margin-bottom: 1.5em;
}
.registerIcon{
    height: 6em;
}
.registerImage{
    height: 25em;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.form > div{
    border: 2px solid #bfc2c3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 8px;
    /* width: fit-content; */
    padding: 4px 15px;
}

.registerBtn{
    background-color: #419b5b;
    color: #fff;
}
.diseaseDescription{
    width: 100%;
    padding: 1.5em 2em;
    resize: none;
}
.dropdown{
    padding: 12px 18px;
    margin-left: 1em;
}
.check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    margin-left: 1em;
}
#align{
    display: flex;
    text-align: left;
    border: none;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: space-between;
}
