.wrapper{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #F8FAE5;
    border-radius: 0 0.75em 0.75em 0;
}

.optionImage{
    width: 2em;
    height: 2em;
}
.options{
    height: calc(100vh - 7.25em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


